<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
</head>
<style>
  body{
    text-align: center;
  }
  iframe{
    height: 100vh;
  }
  .btn {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 5px;
        }

        .btn:hover {
            background-color: #0056b3;
        }
</style>
<body>
<iframe src="../assets/Resume.pdf" width="100%"></iframe>

</body>
</html>